.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.text-block {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-bar {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-height: 130px;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #251525;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  padding-right: 14px;
  padding-left: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ed912a;
}

.nav-link.w--current {
  color: #fff;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -17px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
  line-height: 1.35em;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.nav-menu-wrapper {
  position: relative;
  z-index: 101;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.banner {
  margin-top: 1px;
  padding-top: 32px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#251525), color-stop(48%, rgba(37, 21, 37, 0.3)));
  background-image: linear-gradient(180deg, #251525, rgba(37, 21, 37, 0.3) 48%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.heading {
  margin-bottom: 20px;
  padding-top: 80px;
  padding-left: 101px;
  color: #fff;
  font-size: 64px;
  line-height: 100px;
  font-weight: 900;
}

.heading.white {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  color: #251525;
  text-align: center;
}

.paragraph {
  padding-left: 101px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 50px;
  text-shadow: 1px 1px 2px #000;
}

.button {
  position: relative;
  left: 96px;
  width: 290px;
  height: auto;
  margin-top: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #251525;
  box-shadow: 23px 20px 0 -1px #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  background-color: #4e074e;
  box-shadow: 11px 10px 0 -1px #fff;
}

.column {
  margin-bottom: 68px;
}

.image-7 {
  position: relative;
  left: -31px;
  bottom: -53px;
  margin-left: -49px;
}

.image-8 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.image-9 {
  position: relative;
  left: 0%;
  top: 1px;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 150px;
  max-height: 0%;
}

.div-block {
  position: relative;
  bottom: -153px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media {
  margin-right: 19px;
  margin-left: 19px;
  padding: 10px;
}

.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  padding-bottom: 20px;
}

.image-10 {
  position: relative;
  text-align: left;
}

.column-2 {
  bottom: -140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 121px;
  padding-bottom: 121px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 5px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.column-4 {
  bottom: -140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-11 {
  width: 500px;
  height: 300px;
  max-width: none;
}

.columns {
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-12 {
  position: relative;
  left: -60px;
  max-width: 70%;
  border: 5px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.image-13 {
  position: relative;
  right: -60px;
  max-width: 70%;
  border: 5px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.paragraph-2 {
  padding: 67px;
}

.div-block-2 {
  padding: 70px 200px;
}

.paragraph-3 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle-hover {
  position: absolute;
  left: auto;
  top: -6vw;
  right: -6vw;
  bottom: auto;
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  background-color: #2a2c34;
}

.circle-hover.white {
  top: -6vw;
  right: -6vw;
  z-index: 0;
  background-color: #fff;
}

.overlay-social {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.reg-icon {
  position: relative;
  z-index: 10;
  width: 48px;
  margin-bottom: 12px;
  box-shadow: 0 9px 36px -8px rgba(0, 0, 0, 0.24);
}

.social-icon {
  position: relative;
  z-index: 1;
  width: 48px;
  margin-bottom: 12px;
}

.social-cred {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.09);
  color: #fff;
  text-decoration: none;
}

.social-block:hover {
  z-index: 10;
}

.social-block.tl-tr {
  border-top-style: solid;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-style: solid;
}

.social-block.trl {
  border-top-style: solid;
}

.social-block.tl {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-style: solid;
}

.social-items {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fff;
  background-image: url('../images/GradientSquare.jpg');
  background-position: 30% 50%;
  background-size: auto 120%;
  background-repeat: no-repeat;
}

.grid {
  height: 600px;
  max-width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area Area-2 Area-6"
    "Area-3 Area-4 Area-5";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 0px 303px;
  grid-template-rows: auto 303px;
  background-color: transparent;
  background-image: linear-gradient(103deg, #251525 38%, rgba(37, 21, 37, 0.42));
  box-shadow: 0 0 13px 6px #000;
}

.container {
  max-width: 1300px;
  padding: 39px;
  border: 2px solid #000;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
}

.div-block-4.one {
  border-style: solid;
}

.section {
  margin-bottom: 60px;
  padding-bottom: 71px;
}

.heading-3 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 4px 2px #000;
}

.heading-4 {
  color: #fff;
  font-size: 32px;
}

.div-block-5 {
  background-color: #251525;
}

.section-2 {
  margin-top: 14px;
  background-color: #251525;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.column-5 {
  padding-top: 10px;
  background-color: #a3a0a0;
}

.heading-5 {
  color: #251525;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000;
}

.image-14 {
  position: relative;
  top: -63px;
  margin-bottom: -56px;
}

.heading-6 {
  font-size: 48px;
  font-weight: 400;
}

.heading-7 {
  margin-top: 43px;
  font-size: 48px;
  font-weight: 400;
}

.div-block-7 {
  padding-top: 90px;
  padding-right: 80px;
  padding-left: 80px;
}

.paragraph-4 {
  margin-top: 62px;
  margin-bottom: 43px;
  font-size: 24px;
  line-height: 28px;
}

.button-2 {
  width: 100%;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: #251525;
  font-size: 36px;
  text-align: center;
}

.button-2.yellow {
  background-color: #ffa800;
  color: #251525;
}

.heading-8 {
  margin-bottom: 50px;
  color: #251525;
  font-size: 48px;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.51);
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(37, 21, 37, 0.9);
}

.image-15 {
  padding-right: 65px;
  padding-left: 65px;
}

.section-4 {
  padding-top: 67px;
  padding-bottom: 67px;
}

.paragraph-5 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  margin-top: 250px;
}

.image-16.two {
  margin-top: 24px;
}

.body {
  background-color: #676767;
  background-image: url('../images/Bicyclist-Riding-Bike.I05-1-1.png');
  background-position: 50% -50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.feild-block-wrapper {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.feild-block-wrapper.hide {
  display: none;
}

.error-message {
  margin-top: 36px;
  padding: 12px;
  border-style: none none none solid;
  border-width: 1px;
  border-color: #963030;
  background-color: #12151a;
}

.hover-line-fill {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.social-icon-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  padding-right: 0px;
  padding-left: 0px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form {
  position: relative;
  left: 259px;
  display: -ms-grid;
  display: grid;
  width: 50%;
  padding: 80px 35px 177px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.stacked-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.stacked-title.centered {
  text-align: center;
}

.social-icon-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 100%;
}

.success-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  background-color: #12151a;
}

.form-block {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}

.social-block-2 {
  position: relative;
  z-index: 25;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
  font-size: 11px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link._250px-width {
  width: 250px;
}

.text-field {
  min-height: 60px;
  margin-bottom: 0px;
  padding: 18px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transition: all 400ms cubic-bezier(.25, .46, .45, .94);
  transition: all 400ms cubic-bezier(.25, .46, .45, .94);
  color: #fff;
}

.text-field:focus {
  padding-left: 26px;
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(18, 21, 26, 0.3);
}

.text-field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.48);
  font-weight: 300;
}

.text-field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.48);
  font-weight: 300;
}

.text-field::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.48);
  font-weight: 300;
}

.text-field::placeholder {
  color: rgba(255, 255, 255, 0.48);
  font-weight: 300;
}

.text-field.large {
  min-height: 160px;
}

.social-icon-image {
  position: relative;
  z-index: 20;
  width: 18px;
}

.subtitle {
  position: relative;
  z-index: 10;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 3px 1px #000;
}

.success-message {
  height: 100%;
  padding: 80px 0px 0px;
  background-color: transparent;
}

.hover-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -1px;
  overflow: hidden;
  height: 1px;
}

.contact-form-html {
  background-color: hsla(0, 0%, 92.9%, 0);
}

.field-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.contact-header {
  margin-top: 11px;
  margin-bottom: 3rem;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.contact-wrapper {
  position: relative;
  z-index: 35;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #eee;
}

.submit-button {
  padding: 26px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 100%;
  background-color: rgba(22, 26, 32, 0);
  -webkit-transition: all 400ms cubic-bezier(.25, .46, .45, .94);
  transition: all 400ms cubic-bezier(.25, .46, .45, .94);
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.submit-button:hover {
  border-color: #fff;
}

.submit-button.hide {
  display: none;
}

.form-wrapper {
  position: relative;
  z-index: 25;
  display: -ms-grid;
  display: grid;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 93px 60px 60px;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 120px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.text-field-2 {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: transparent;
  color: #fff;
}

.heading-9 {
  letter-spacing: 2px;
}

.heading-10 {
  letter-spacing: 2px;
}

.heading-11 {
  letter-spacing: 2px;
}

.button-3 {
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  background-color: #251525;
  box-shadow: 0 1px 12px 0 #000;
  font-weight: 700;
  text-align: center;
}

.button-3:hover {
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

@media screen and (min-width: 1280px) {
  .div-block-4.one {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .div-block-4.one:hover {
    border-style: none;
    background-color: #410241;
    box-shadow: 0 0 17px 8px #000;
    opacity: 1;
  }

  .body {
    background-position: 50% 0%;
  }

  .form {
    left: 410px;
    width: 40%;
    padding-right: 44px;
    padding-left: 44px;
    box-shadow: 0 0 8px 4px #000;
  }

  .form-block {
    letter-spacing: 2px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0 3px 2px #000;
  }

  .contact-header {
    font-weight: 900;
  }

  .form-wrapper {
    padding-right: 80px;
    padding-left: 80px;
  }

  .text-field-2 {
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #fff;
    background-color: transparent;
  }

  .textarea {
    background-color: transparent;
  }

  .button-3 {
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    background-color: #251525;
    box-shadow: 1px 1px 7px 0 #000;
    font-size: 24px;
    text-align: center;
  }

  .button-3:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #fffefe;
  }
}

@media screen and (max-width: 991px) {
  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0px 12px 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
    font-size: 18px;
  }

  .menu-button.w--open {
    background-color: transparent;
    background-image: url('../images/Background-Blur.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-bar {
    height: 75px;
  }

  .nav-link {
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  .nav-menu-2 {
    background-color: #1e2029;
  }

  .nav-menu-wrapper {
    position: static;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .social-block {
    cursor: default;
  }

  .social-text {
    display: none;
  }

  .social-items {
    width: 100%;
    height: 100%;
    background-size: auto 160%;
  }

  .form {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
  }

  .stacked-title {
    grid-row-gap: 18px;
  }

  .form-block {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    padding-left: 18px;
    font-size: 16px;
  }

  .nav-bar {
    height: 70px;
  }

  .brand {
    font-size: 22px;
  }

  .form-block {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .form-wrapper {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

@media screen and (max-width: 479px) {
  .image-5 {
    max-width: 50%;
    margin-left: 34px;
  }

  .menu-button {
    padding-left: 18px;
    border-left-style: none;
  }

  .nav-bar {
    height: 65px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .image-6 {
    max-width: 40%;
  }

  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .nav-menu-2 {
    background-color: #e0851e;
  }

  .brand {
    font-size: 18px;
  }

  .reg-icon {
    width: 36px;
    margin-bottom: 0px;
  }

  .social-icon {
    width: 36px;
    margin-bottom: 0px;
  }

  .form {
    padding-top: 60px;
  }

  .form-block {
    grid-row-gap: 80px;
  }
}

#w-node-dd0205b4-7355-d9a0-aa93-124c3e07b96d-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5c3267c4-40d2-94fb-78f2-001fa7acfa4f-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0e0fcb02-ac4d-de40-832f-e805ab41ece9-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f22a3380-e4ac-73c7-8adb-b1c95cff7ba0-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_52a3dcfb-a9e9-2eda-e2d6-1f6920fc7843-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3caa7c36-70c2-9785-da20-544a2d7699fd-1cb0afd3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#email-form.w-node-_6b837eb2-52d5-f09b-51c5-4807d24273a5-38757798 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_6b837eb2-52d5-f09b-51c5-4807d24273ab-38757798 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6b837eb2-52d5-f09b-51c5-4807d24273b1-38757798 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6b837eb2-52d5-f09b-51c5-4807d24273b3-38757798 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#field-3.w-node-_5dced5c8-1281-8bab-e6fb-8d16a421e073-38757798 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1280px) {
  #w-node-dd0205b4-7355-d9a0-aa93-124c3e07b96d-1cb0afd3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Area;
  }

  #w-node-_253e16cb-3653-f088-33bc-19c621ac252c-38757798 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_586a38af-0567-9bb7-b4f1-3ef8420e1d26-38757798 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a0a2baf1-f558-ced9-2580-e2639228c0a9-38757798 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #field-3.w-node-_5dced5c8-1281-8bab-e6fb-8d16a421e073-38757798 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_801d9b2d-7edd-3ad5-006e-c09121d5e59b-38757798 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

